@charset "UTF-8";
/*---------------------------------------------------------------
  [Reset]
-----------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-weight: 400;
  color: #454f5b;
}

body {
  min-width: 1920px;
  font-family: Pretendard, Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Pretendard, Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

span,
time,
em,
i {
  display: inline-block;
  font-style: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table tbody {
  vertical-align: top;
}

button {
  display: inline-block;
  width: 100%;
  padding: 0;
  border: 0;
  outline: 0;
  text-align: left;
  font-family: Pretendard, Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: transparent;
  cursor: pointer;
}

select {
  outline: 0;
  cursor: pointer;
  appearance: none;
}

label {
  cursor: pointer;
}

input,
optgroup,
select,
textarea {
  font-family: Pretendard, Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

input[type=date] {
  border: 0;
  outline: 0;
}

video {
  object-fit: fill;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 스크롤바 커스텀 */
/* 웹폰트 Pretendard */
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: fallback;
  src: local("Pretendard Black"), url("/font/Pretendard-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: fallback;
  src: local("Pretendard ExtraBold"), url("/font/Pretendard-ExtraBold.woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: fallback;
  src: local("Pretendard Bold"), url("/font/Pretendard-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: fallback;
  src: local("Pretendard SemiBold"), url("/font/Pretendard-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: fallback;
  src: local("Pretendard Medium"), url("/font/Pretendard-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: fallback;
  src: local("Pretendard Regular"), url("/font/Pretendard-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: fallback;
  src: local("Pretendard Light"), url("/font/Pretendard-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: fallback;
  src: local("Pretendard ExtraLight"), url("/font/Pretendard-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: fallback;
  src: local("Pretendard Thin"), url("/font/Pretendard-Thin.woff2") format("woff2");
}
/*---------------------------------------------------------------
  [help class]
-----------------------------------------------------------------*/
.screen-out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

.ov-hide {
  overflow: hidden;
}

/*---------------------------------------------------------------
  [로그인]
-----------------------------------------------------------------*/
.login-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.login-wrapper main {
  position: relative;
  width: 380px;
  padding: 20px 30px 43px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.25);
}
.login-wrapper main::before {
  content: "";
  display: block;
  width: 100%;
  height: 170px;
  background-image: url("/images/login_bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  filter: grayscale(1);
}
.login-wrapper main h1 {
  position: absolute;
  top: 74px;
  left: 50%;
  transform: translateX(-50%);
}
.login-container {
  margin-top: 34px;
}
.login-container > span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0 10px;
  padding: 13px 16px 10px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
}
.login-container > span::before {
  content: "";
  width: 24px;
  height: 24px;
}
.login-container > span input {
  width: 100%;
  height: 25px;
  border: 0;
  outline: 0;
  color: #454f5b;
  font-size: 14px;
}
.login-container > span input::placeholder {
  color: #a6a6a6;
}
.login-container .email::before {
  background: url(/images/icon_mail.png) no-repeat 0 0;
}
.login-container .pwd {
  margin-top: 14px;
}
.login-container .pwd::before {
  background: url(/images/icon_lock.png) no-repeat 0 0;
}

.btn-login {
  display: block;
  width: 100%;
  margin-top: 29px;
  line-height: 54px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  background: #1f325b;
  box-shadow: 0px 5px 20px 0px rgba(31, 50, 91, 0.25);
}

/*---------------------------------------------------------------
  [공통]
-----------------------------------------------------------------*/
.btn-primary {
  min-width: 92px;
  line-height: 34px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  background: #375596;
}

.selectbox {
  width: 100%;
  height: 34px;
  padding: 0 15px;
  border-radius: 6px;
  border: 1px solid #dfe3e8;
  font-size: 14px;
  color: #737c86;
  background: url(/images/icon-arrow-down.png) no-repeat calc(100% - 12px) 50%;
  background-size: 24px;
}

input.datebox {
  width: 100%;
  height: 34px;
  padding: 0 15px;
  border-radius: 6px;
  border: 1px solid #dfe3e8;
  font-size: 14px;
  color: #737c86;
}

.btn-search {
  width: 26px;
  height: 26px;
  background-image: url("/images/icon_search.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  background-position: 50% 50%;
  background-size: 20px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  background-color: #f6f6f6;
}
.btn-excel-down {
  width: 26px;
  height: 26px;
  background-image: url("/images/icon_excel.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  background-position: 50% 50%;
  background-size: 20px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  background-color: #f6f6f6;
}
.btn-play {
  width: 26px;
  height: 26px;
  background-image: url("/images/icon_play.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  background-position: 50% 50%;
}
.btn-down {
  width: 26px;
  height: 26px;
  background-image: url("/images/icon_down.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  background-position: 50% 50%;
}
.btn-close {
  width: 30px;
  height: 30px;
  background-image: url("/images/icon_close_white.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  background-position: 50% 50%;
}

.paging-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0 6px;
}
.paging-container button {
  font-size: 16px;
  color: #212b36;
  font-weight: 500;
  text-align: center;
}
.paging-container > button {
  width: 24px;
  height: 24px;
}
.paging-container > button:disabled {
  color: #a6a6a6;
}
.paging-container .num-bind {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0 6px;
}
.paging-container .num-bind button {
  min-width: 32px;
  padding: 0 8px;
  line-height: 32px;
  border-radius: 8px;
}
.paging-container .num-bind button.active {
  background: rgba(145, 158, 171, 0.16);
}

.wrapper > .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 32px;
  border-bottom: 1px solid #dfe3e8;
  background: #f0f0f0;
}
.wrapper > .header .left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0 42px;
}
.wrapper > .header .left h1 {
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #212b36;
}
.wrapper > .header .right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0 27px;
}
.wrapper > .header .right .user {
  flex: 0 0 auto;
  font-size: 14px;
  font-weight: 700;
}
.wrapper > .header .right button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0 5px;
  font-size: 14px;
  font-weight: 700;
  color: #737c86;
}
.wrapper > .header .right button::before {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("/images/icon_user.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  height: calc(100vh - 70px);
}
.main-container > nav {
  position: relative;
  width: 110px;
  padding: 20px 10px 0;
  border-right: 1px solid #dfe3e8;
  box-shadow: 5px 4px 40px 0px rgba(0, 0, 0, 0.05), inset 0px -11px 8px -8px #333;
}
.main-container > nav > a {
  display: block;
  padding: 8px 0;
  line-height: 21px;
  font-size: 14px;
  font-weight: 500;
  color: #212b36;
  text-align: center;
  border-radius: 5px;
  background: #fff;
}
.main-container > nav > a + a {
  margin-top: 10px;
}
.main-container > nav > a::before {
  content: "";
  display: block;
  margin: 3px auto 0;
}
.main-container > nav .btn-crackdown::before {
  width: 20px;
  height: 20px;
  background-image: url("/images/menu1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.main-container > nav .btn-crackdown.active {
  color: #fff;
  background: #1f325b;
}
.main-container > nav .btn-crackdown.active::before {
  background-image: url(/images/menu1_active.png);
}
.main-container > nav .btn-stats::before {
  width: 20px;
  height: 20px;
  background-image: url("/images/menu2.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.main-container > nav .btn-stats.active {
  color: #fff;
  background: #1f325b;
}
.main-container > nav .btn-stats.active::before {
  background-image: url(/images/menu2_active.png);
}
.main-container > nav .lang-dropdown-container {
  position: absolute;
  bottom: 12px;
  left: 5px;
  width: 99px;
  border-radius: 6px;
  border: 1px solid #dfe3e8;
}
.main-container > nav .lang-dropdown-container img {
  width: 28px;
  height: 20px;
}
.main-container > nav .lang-dropdown-container > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 13px;
  height: 32px;
  font-size: 12px;
  color: #737c86;
  border-radius: 6px;
  background: #fff;
}
.main-container > nav .dropdown-list {
  display: none;
  background: #f1f1f1;
}
.main-container > nav .dropdown-list a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0 13px;
  width: 100%;
  padding: 8px 6px;
  font-size: 12px;
  color: #737c86;
}
.main-container > nav .dropdown-list a:hover {
  background: #ddd;
}
.main-container > nav .dropdown-list.active {
  display: block;
  position: absolute;
  top: -108px;
  left: 0;
  width: 100%;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.main-content > aside {
  width: 330px;
  padding: 15px 30px;
  border-right: 1px solid #dfe3e8;
  box-shadow: 5px 4px 40px 0px rgba(0, 0, 0, 0.05), inset 0px -11px 8px -8px #333;
}
.main-content > aside .search-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #a6a6a6;
}
.main-content > aside .search-title .bind {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0 8px;
}
.main-content > aside h2 {
  line-height: 42px;
  font-size: 16px;
  font-weight: 700;
  color: #737c86;
}
.main-content > aside .paging-container {
  margin: 0 -17px 0;
}
.main-content > article {
  flex: 1;
}

.search-box {
  margin: 13px 0 16px;
}
.search-box tr:last-child th,
.search-box tr:last-child td {
  padding-bottom: 0;
}
.search-box th {
  padding-bottom: 10px;
  vertical-align: middle;
  text-align: left;
}
.search-box th span {
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
}
.search-box td {
  padding-bottom: 10px;
}
.search-list {
  overflow: auto;
  height: calc(100vh - 367px);
  padding-bottom: 16px;
}
.search-list .inner {
  margin: 16px 0;
  padding: 8px 10px;
  border-radius: 10px;
}
.search-list button {
  display: block;
  border-bottom: 1px solid #e0e0e0;
  background: #fff;
}
.search-list button.active .inner {
  background: #2a4173;
}
.search-list button.active .inner em {
  font-weight: 700;
  color: #fff;
}
.search-list button.active .inner .info i,
.search-list button.active .inner .info time {
  font-weight: 600;
  color: #fff;
}
.search-list button em {
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #212b36;
}
.search-list button .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0 5px;
  margin-top: 19px;
  line-height: 21px;
  letter-spacing: -0.5px;
}
.search-list button .info i {
  flex: 1;
  font-size: 14px;
  font-weight: 500;
  color: #454f5b;
}
.search-list button .info time {
  font-size: 12px;
  font-weight: 500;
  color: #a6a6a6;
}

.crackdown > article {
  padding: 0 32px;
}
.crackdown > article h2 {
  line-height: 50px;
  color: #212b36;
  font-size: 18px;
  font-weight: 700;
}

.crackdown-photo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0 25px;
}
.crackdown-photo-container img {
  width: 100%;
  display: block;
}

.enlarge-container-left {
  width: 700px;
}
.enlarge-container-left .enlarge-photo {
  height: 416px;
  border: 4px solid #fff;
  border-radius: 10px;
  box-shadow: 5px 8px 5.9px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.enlarge-container-left .enlarge-photo button {
  height: 100%;
}
.enlarge-container-left .enlarge-photo img {
  height: 100%;
  border-radius: 10px;
}
.enlarge-container-left .enlarge-photo.data-img-none {
  background: url(/images/img_default.png) no-repeat 50% 50%;
}
.enlarge-container-left .enlarge-photo.data-img-none button,
.enlarge-container-left .enlarge-photo.data-img-none img {
  display: none;
}
.enlarge-container-left .license-plate {
  height: 97px;
  margin-top: 19px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}
.enlarge-container-left .license-plate button {
  height: 100%;
}
.enlarge-container-left .license-plate img {
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.enlarge-container-left .license-plate.data-img-none {
  background: url(/images/img_default.png) no-repeat 50% 50% #e0e0e0;
  background-size: 35%;
}
.enlarge-container-left .license-plate.data-img-none button,
.enlarge-container-left .license-plate.data-img-none img {
  display: none;
}
.enlarge-container-right {
  flex: 1;
}
.enlarge-container-right > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.enlarge-container-right > header.mt-18 {
  margin-top: 18px;
}
.enlarge-container-right > header .tit {
  line-height: 25px;
  font-size: 18px;
  font-weight: 700;
}
.enlarge-container-right > header .bind {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0 8px;
  font-size: 0;
}
.enlarge-container-right .thumnail-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 15px 10px;
  height: 253px;
  overflow: auto;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
}
.enlarge-container-right .thumnail-list.type2 {
  height: 192px;
}
.enlarge-container-right .thumnail-list.type2 li {
  flex: 0 0 calc(50% - 5px);
  height: 160px;
}
.enlarge-container-right .thumnail-list.type2 li button {
  height: 100%;
}
.enlarge-container-right .thumnail-list.type2 li button img {
  height: 100%;
}
.enlarge-container-right .thumnail-list li {
  flex: 0 0 calc(25% - 7.5px);
  height: 103px;
  font-size: 0;
  cursor: pointer;
}
.enlarge-container-right .thumnail-list li button {
  height: 100%;
}
.enlarge-container-right .thumnail-list li button img {
  height: 100%;
  object-fit: cover;
}
.enlarge-container-right .thumnail-list li.data-none {
  flex: 1;
  align-self: center;
  text-align: center;
  height: auto;
  font-size: 20px;
}
.enlarge-container-right .thumnail-list li.data-img-none {
  background: url(/images/img_default.png) no-repeat 50% 50% #e0e0e0;
  background-size: contain;
}
.enlarge-container-right .thumnail-list li.data-img-none button {
  display: none;
}

.crackdown-info-container {
  margin-top: 34px;
  border-top: 1px solid #dfe3e8;
}
.crackdown-info-container th {
  vertical-align: middle;
  text-align: center;
  font-weight: 700;
  background: #f6f6f6;
  border-bottom: 1px solid #dfe3e8;
  border-right: 1px solid #dfe3e8;
}
.crackdown-info-container td {
  height: 56px;
  padding: 0 20px;
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #dfe3e8;
}

.statistics {
  display: block;
  padding-top: 10px;
}
.statistics main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0 26px;
  margin-top: 27px;
  padding-right: 36px;
}
.statistics main aside {
  flex: 0 0 auto;
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.statistics main aside > div {
  flex: 1;
  width: 100%;
  text-align: center;
  align-content: center;
}
.statistics main aside > div em {
  background: #d0dfff;
}
.statistics main aside > div .tit {
  display: block;
  line-height: 28px;
  font-size: 20px;
  font-weight: 500;
}
.statistics main aside > div em {
  margin-top: 10px;
  line-height: 28px;
  font-size: 20px;
  font-weight: 700;
}
.statistics main article {
  flex: 1;
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0 16px;
  min-width: 1746px;
  margin: 0 32px;
  padding: 18px 32px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
}
.filter-container em {
  flex: 0 0 auto;
  color: #212b36;
}
.filter-container .datebox {
  width: 186px;
}
.filter-container .btn-primary {
  flex: 0;
}

.chart-container {
  overflow: hidden;
  height: 325px;
  border-radius: 10px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
}
.chart-container > img, .chart-container > svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.chart-container:not(:first-child) {
  margin-top: 51px;
}

.modal-wrapper {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
}
.modal-wrapper.active {
  visibility: visible;
  opacity: 1;
}
.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1280px;
  height: 800px;
  transform: translate(-50%, -50%);
  border-radius: 10px 10px 0 0;
}
.modal-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 30px;
  border-radius: 10px 10px 0 0;
  background: #2a4173;
  cursor: move;
}
.modal-head em {
  flex: 1;
  line-height: 27px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.modal-body {
  height: calc(100% - 50px);
  background: #fff;
}
.modal-body img {
  width: 100%;
  height: 100%;
}

/*---------------------------------------------------------------
  [다국어 설정 style]
-----------------------------------------------------------------*/
/* 영어 */
.search-box:lang(en) th span {
  letter-spacing: -1px;
}